<div class="header__search-bar-container">
  {%- if settings.predictive_search_enabled -%}
    <predictive-search class="search-form" data-loading-text="{{ 'accessibility.loading' | t }}" style="width: 100%;">
  {%- else -%}
    <search-form class="search-form" style="width: 100%;">
  {%- endif -%}
    <form action="{{ routes.search_url }}" method="get" role="search" class="search" style="width: 100%;">
      <div class="field">
        <input
          class="search__input field__input"
          id="{{ input_id }}"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="Search..."
          {%- if settings.predictive_search_enabled -%}
            role="combobox"
            aria-expanded="false"
            aria-owns="predictive-search-results"
            aria-controls="predictive-search-results"
            aria-haspopup="listbox"
            aria-autocomplete="list"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          {%- endif -%}
        >
        <input type="hidden" name="options[prefix]" value="last">
        <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
          <svg class="icon icon-search" aria-hidden="true" focusable="false">
            <use href="#icon-search">
          </svg>
        </button>
      </div>

      {%- if settings.predictive_search_enabled -%}
        <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
          {%- render 'predictive-search-shortcuts' -%}
          {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
        </div>
        <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
      {%- endif -%}
    </form>
  {%- if settings.predictive_search_enabled -%}
    </predictive-search>
  {%- else -%}
    </search-form>
  {%- endif -%}
</div>
