{% assign dummy_image = 'lifestyle-1' | placeholder_svg_tag: "LuminSlideshow-image LuminSlideshow-image--dummy" %}
{% assign loader_background_color = section.settings.loader_background_color %}

{% assign fade = section.settings.fade %}
{% assign parallax = section.settings.parallax %}
{% assign parallax_mobile = section.settings.parallax_mobile %}
{% assign text_animation = section.settings.text_animation %}
{% assign zoom_animation = section.settings.zoom_animation %}

{% assign autoplay = section.settings.autoplay %}
{% assign autoplay_speed = section.settings.autoplay_speed %}
{% assign autoplay_stop = section.settings.autoplay_stop %}
{% assign full_width_images = section.settings.full_width_images %}
{% assign full_width_images_mobile = section.settings.full_width_images_mobile %}


{% assign dots_style = section.settings.dots_style %}
{% assign dots_color = section.settings.dots_color %}
{% assign dot_size = section.settings.dot_size %}
{% assign dot_size_selected = section.settings.dot_size_selected %}

{% assign arrows_style = section.settings.arrows_style %}
{% assign arrows_style_mobile = section.settings.arrows_style_mobile %}
{% assign arrow_background_color = section.settings.arrow_background_color %}
{% assign arrow_chevron_color = section.settings.arrow_chevron_color %}
{% assign arrow_size = section.settings.arrow_size %}
{% assign arrow_chevron_size = section.settings.arrow_chevron_size %}
{% assign arrow_size_mobile = section.settings.arrow_size_mobile %}
{% assign arrow_chevron_size_mobile = section.settings.arrow_chevron_size_mobile %}

{% assign button_letter_spacing = section.settings.button_letter_spacing %}
{% assign button_letter_spacing_mobile = section.settings.button_letter_spacing_mobile %}

{% assign button_border_radius = section.settings.button_border_radius %}
{% assign button_border_radius_mobile = section.settings.button_border_radius_mobile %}

{% assign clickable_image_new_tab = section.settings.clickable_image_new_tab %}


{% assign is_full_width = true %}

{% comment %}
sets adaptive height for full width images. 
If an image has a height of 200px and the other one of 800px, the slider adapts accordingly
{% endcomment %}
{% assign adaptive_height = true %}


{% capture has_dots %}
  {% if dots_style == 'bars' or dots_style == 'dots' %}
  true
  {% else %}
  false
  {% endif %}
{% endcapture %}

{% assign section_height = section.settings.section_height %}

{% if full_width_images %}
{% assign section_height = 'natural' %}
{% endif %}

{% assign section_height_mobile = section.settings.section_height_mobile %}

{% if full_width_images_mobile %}
{% assign section_height_mobile = 'auto' %}
{% endif %}

{%- assign natural_height = false -%}
{%- assign natural_height_mobile = false -%}

{%- if section_height == 'natural' or section_height_mobile == 'auto' -%}

{% comment %}
    Get first image's aspect ratio
{% endcomment %}

{%- for block in section.blocks limit: 1 -%}
    {%- if block.settings.image == blank -%}

      {% assign section_height = '450px' %}
      {% assign section_height_mobile = '250px' %}

	{% else %}
    {%- if section_height == 'natural' %}
        {%- assign natural_height = true -%}
        {%- capture natural_height_ratio -%}{{ block.settings.image.aspect_ratio }}{% endcapture %}
    {%- endif -%}
    {%- endif -%}

    
    {%- if section_height_mobile == 'auto' -%}
        {%- assign natural_height_mobile = true -%}
        {%- capture natural_height_ratio_mobile -%}
        {% if block.settings.image_mobile != blank %}
        {{ block.settings.image_mobile.aspect_ratio }}
        {% else %}
        {{ block.settings.image.aspect_ratio }}
        {% endif %}
        {% endcapture %}

    {%- endif -%}


{%- endfor -%}

{%- endif -%}

{% if fade == false %}
{% assign parallax = false %}
{% endif %}


{% assign parallax_zoom = '1.2' %}
{% assign parallax_zoom_mobile = '1.53' %}

{% assign parallax_speed = section.settings.parallax_speed %}
{% assign parallax_speed_mobile = section.settings.parallax_speed_mobile %}




<style>

  .LuminSlideshow-container--loading *{
  	opacity: 0;
  }
  
  
</style>

<div
     class="LuminSlideshowOptions"
     data-Lumin-slideshow-section-id="{{ section.id }}"
     data-autoplay="{{ autoplay }}"
     data-autoplay-speed="{{ autoplay_speed }}"
	 data-enable-parallax="{{ parallax }}"
     data-enable-parallax-mobile="{{ parallax_mobile }}"
     data-dots-style="{{ dots_style }}"
     data-enable-fade="{{ fade }}"
     data-adaptive-height="{{ adaptive_height }}"
     data-full-width-images="{{ full_width_images }}"
     data-full-width-images-mobile="{{ full_width_images_mobile }}"
     data-natural-height-mobile="{{ natural_height_mobile }}"
     data-parallax-zoom="{{ parallax_zoom }}"
     data-parallax-zoom-mobile="{{ parallax_zoom_mobile }}"
     data-parallax-speed="{{ parallax_speed }}"
     data-parallax-speed-mobile="{{ parallax_speed_mobile }}"
     data-slides-quantity="{{ section.blocks.size }}"
     data-text-animation="{{ text_animation }}"
     data-autoplay-stop="{{ autoplay_stop }}" 
     
     style="display:none;height:0px;width:0px;"
     
     ></div>

<div 
     data-Lumin-slideshow-section-id="{{ section.id }}"
     class="LuminSlideshow-container 
            LuminSlideshow-container--loading
            LuminSlideshow-container--dots-style-{{ dots_style }}
            LuminSlideshow-container--{{ section.id }}"
     
     data-arrows-style="{{ arrows_style }}"
     data-arrows-style-mobile="{{ arrows_style_mobile }}"
     data-has-dots="{{ has_dots | strip }}"
     data-dots-style="{{ dots_style }}">

<div data-slideshow-section-id="{{ section.id }}" 
     class="LuminSlideshow--loading 
            LuminSlideshow 
            LuminSlideshow--{{ section.id }}
            {% if natural_height %}LuminSlideshow-cell--natural-desktop{% endif %}
            {% if natural_mobile_height %} LuminSlideshow-cell--natural-mobile{% endif %}">

  
  {% for block in section.blocks %}
  
  {% assign button_text = block.settings.button_text %}
  {% assign button_link = block.settings.button_link %}
  {% assign button_text_2 = block.settings.button_text_2 %}
  {% assign button_link_2 = block.settings.button_link_2 %}
  {% assign title = block.settings.title %}
  {% assign subtitle = block.settings.subtitle %}
  
  {% capture has_no_text %}
  {% if button_text != blank %}
  False
  {% elsif button_text_2 != blank %}
  False
  {% elsif title != blank %}
  False
  {% elsif subtitle != blank %}
  False
  {% else %}
  True
  {% endif %}  
  {% endcapture %}
  

  {% capture button_background_color %}
  {% if block.settings.button_background_color == blank %}
  "transparent"
  {% else %}
  {{ block.settings.button_background_color }}
  {% endif %}
  {% endcapture %}

{% assign button_text_color = block.settings.button_text_color %}
{% assign button_border_color = block.settings.button_border_color %}
  
  {% capture button_background_color_2 %}
  {% if block.settings.button_background_color_2 == blank %}
  "transparent"
  {% else %}
  {{ block.settings.button_background_color_2 }}
  {% endif %}
  {% endcapture %}
{% assign button_text_color_2 = block.settings.button_text_color_2 %}
{% assign button_border_color_2 = block.settings.button_border_color_2 %}
  
  {% assign image_link = block.settings.image_link %}
  {% assign image_link_size = image_link | size %}
  
    <div  class="LuminSlideshow-cell LuminSlideshow-cell--{{block.id}}">

            
	  {% assign is_empty = true %}
	  {% assign image_desktop = '' %}
      {% assign image_mobile = '' %}
      
      
      {% if block.settings.image != blank %}
      	  {%- assign image_desktop = block.settings.image -%}
 		  {% assign is_empty = false %}
      {% endif %}
      
      {% if block.settings.image_mobile != blank %}
      	{%- assign image_mobile = block.settings.image_mobile -%}
      	{% assign is_empty = false %}
      {% else %}
      	{% assign image_mobile = image_desktop %}
      {% endif %}

      
      <div 
          {% if block.settings.focal_point == 'full_width' or full_width_images %}
           data-image-full-width="true"
           {% assign is_full_width = true %}
           {% endif %}
             {% if block.settings.focal_point_mobile == 'full_width' %}
           data-image-full-width-mobile="true"
           {% endif %}
           data-image-aspect-ratio="{{ image_desktop.aspect_ratio }}"
           data-image-aspect-ratio-mobile="{{ image_mobile.aspect_ratio }}"
           ></div>
      
         	
      {% if is_empty %}

      
        {{ dummy_image }}

      {% else %}
      


      {% if parallax %}
      <div class="Parallax-parent Parallax-parent--desktop">
        <div class="Parallax-animation">
    	<div class="LuminSlideshow-parallax LuminSlideshow-parallax--desktop LuminSlideshow-parallax--lazy" 
             data-sizes="auto"
              
            >
      {% endif %}
   


   
      
      <img class="LuminSlideshow-image--lazy LuminSlideshow-image LuminSlideshow-image--desktop "
                 src="{{ image_desktop | img_url: '300x' }}"
      
                  data-srcset="
                               {{ image_desktop | img_url: '900x' }} 900w
                               {{ image_desktop | img_url: '1080x' }} 1080w,
                               {{ image_desktop | img_url: '1296x' }} 1296w,
                               {{ image_desktop | img_url: '1512x' }} 1512w,
                               {{ image_desktop | img_url: '1728x' }} 1728w,
                               {{ image_desktop | img_url: '2048x' }} 2048w,
                               {{ image_desktop | img_url: '2450x' }} 2450w,
                               {{ image_desktop | img_url: '2700x' }} 2700w,
                               {{ image_desktop | img_url: '3000x' }} 3000w"
         
            
                        
           data-aspectratio="{{ image_desktop.aspect_ratio }}"
           data-sizes="100vw"
           sizes="100vw"
           alt="{{ image_desktop.alt | escape }}"
           style="" />
	
       
      {% if parallax %}
        </div>
          </div>
        </div>
      {% endif %}


      

  
               
    {% if parallax_mobile %}
      <div class="Parallax-parent Parallax-parent--mobile">
        <div class="Parallax-animation">
    	<div class="LuminSlideshow-parallax LuminSlideshow-parallax--mobile LuminSlideshow-parallax--lazy" >
    {% endif %}
      
      <img class="LuminSlideshow-image--lazy LuminSlideshow-image LuminSlideshow-image--mobile"
           loading="lazy"
           src="{{ image_mobile | img_url: '300x' }}"
           data-src="{{ image_mobile | img_url: '800x' }}"
           data-aspectratio="{{ image_mobile.image.aspect_ratio }}"
           data-sizes="auto"
           alt="{{ image_mobile.image.alt | escape }}"
           style="" />
          
    
 {% if parallax_mobile %}
        </div>
          </div>
        </div>
    {% endif %}
     
      
      {% endif %}

       {% if image_link_size > 0 %}
      <a class="LuminSlideshow-clickable" {% if clickable_image_new_tab %}target="_blank"{% endif %} href="{{ image_link }}"></a>
      {% endif %}
      
      
      <div class="LuminSlideshow-textbox-container--parent" data-cell-text="{{ button_text }}{{ button_text_2 }}{{ title }}{{ subtitle }}">
        <div class="LuminSlideshow-textbox-container--child">
          <div class="LuminSlideshow-textbox {{ block.settings.text_align }}">
            <div class="LuminSlideshow-textbox-container--alignment">
                 
              <div class="LuminSlideshow-title-container">   
                 <h2 class="LuminSlideshow-title">{{ title | newline_to_br }}</h2>
                </div>
              
              <div class="LuminSlideshow-subtitle-container"> 
              	<p class="LuminSlideshow-subtitle">{{ subtitle | newline_to_br }}</p>
              </div>
              
              <div class="LuminSlideshow-buttons"> 
                {% if button_text != "" %} 
        		<a 
                    class="LuminSlideshow-button LuminSlideshow-button--1"
                   href="{%if button_link != blank %}{{ button_link }}{% else %}{{ shop.url }}{% endif %}">{{ button_text }}</a>				
               
{% endif %}
                {% if button_text_2 != "" %}
        		<a 
                    class="LuminSlideshow-button LuminSlideshow-button--2"
                   href="{%if button_link_2 != blank %}{{ button_link_2}}{% else %}{{ shop.url }}{% endif %}">{{ button_text_2 }}</a>
				{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
  
      
      
      
      <style>        
        .LuminSlideshow-cell--{{block.id}}:after{
            content:'';
            width: 100%;
            height: 100%;
          	position: absolute;
            top: 0;
            left:0;
            right: 0;
            bottom: 0;
          	pointer-events: none;
          
          	background: {{ block.settings.overlay_color }};
          	opacity: .{{ block.settings.overlay_opacity }};

        }
        
        .LuminSlideshow-cell--{{block.id}} .LuminSlideshow-image{
          
          {% if block.settings.focal_point == 'full_width' %}
            {% if parallax %}
/*                 object-fit: auto;  */
            {% else %}
              	object-fit: contain;
            {% endif %}
          {% else %}
        	object-position: {{ block.settings.focal_point }};
          {% endif %}
        }
        
        {% if block.settings.focal_point == 'full_width' %}
         .LuminSlideshow-cell--{{block.id}} .LuminSlideshow-parallax--desktop{
              {% if parallax %}
/*                 object-fit: auto;  */
            {% else %}
              	object-fit: contain;
            {% endif %}
        	
        }
        {% endif %}
        
        .LuminSlideshow-cell--{{block.id}} .LuminSlideshow-parallax--desktop{
/*         	background-position: {{ block.settings.focal_point }}; */
        }
        
        .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-title{
          font-size: {{ block.settings.title_font_size }}px;
        }
        
        .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-top-text,
        .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-subtitle{
          font-size: {{ block.settings.subtitle_font_size }}px;
        }
        
        .LuminSlideshow-cell--{{ block.id }} .LuminSlideshow-button{
          font-size: {{ block.settings.button_text_size }}px;
        }
        
        
        @media (max-width: 749px){
          
          .LuminSlideshow-cell--{{block.id}} .LuminSlideshow-image{
          {% if block.settings.focal_point_mobile == 'full_width' %}
			object-fit: contain;
            object-position: center;
          {% else %}
         object-position: {{ block.settings.focal_point_mobile }};
          {% endif %}
            
          }
          
        {% if block.settings.focal_point_mobile == 'full_width' %}
          
          
          
         .LuminSlideshow-cell--{{block.id}} .LuminSlideshow-parallax--mobile{
              
           {% if is_full_width == false %}
    background-position: initial;
           {% endif %}
           
           {% if parallax %}
/*                background-size: cover; */
           {% else %}
               	background-size: contain;
           {% endif %}
    
        }
        {% endif %}
          

          
           .LuminSlideshow-cell--{{block.id}} .LuminSlideshow-parallax--mobile{
/*         	background-position: {{ block.settings.focal_point_mobile }}; */
        	}

          .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-title{
            font-size: {{ block.settings.title_font_size_mobile }}px;
          }
          
          .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-top-text,
          .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-subtitle{
          	font-size: {{ block.settings.subtitle_font_size_mobile }}px;
          }
          
          .LuminSlideshow-cell--{{ block.id }} .LuminSlideshow-button{
            font-size: {{ block.settings.button_text_size_mobile }}px;
          }
        }
        
        {% comment %} Text shadow {% endcomment %}

        {% assign text_shadow = block.settings.text_shadow %}

        {% if text_shadow != 0  %}        
        .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-textbox-container--parent:not([data-cell-text=""]) .LuminSlideshow-textbox-container--alignment:after {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            z-index: -1;
          
          	
          	background: radial-gradient({{ block.settings.text_shadow_color | color_to_rgb }} 0%, transparent 60%);
          	opacity: {% if text_shadow == 100 %}1{% else %} .{{ text_shadow }} {% endif %};
            margin: -100px -200px;

        }
        {% endif %}
        
        {% comment %} Button {% endcomment %}
        
        
        .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-button--1,
        .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-button--1:active,
        .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-button--1:hover,
        .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-button--1:focus{
          background-color: {{ button_background_color }};
          color: {{ button_text_color }};
          border-color: {{ button_border_color }};
        }
        
        .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-button--2,
        .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-button--2:active,
        .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-button--2:hover,
        .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-button--2:focus{
          background-color: {{ button_background_color_2 }};
          color: {{ button_text_color_2 }};
          border-color: {{ button_border_color_2 }};
        }
        
        .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-title{
          color: {{ block.settings.title_color }} !important;
        }
        
        .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-top-text,
                .LuminSlideshow-cell--{{ block.id}} .LuminSlideshow-subtitle{
          color: {{ block.settings.subtitle_color }} !important;
        }
        

        
      /* Customizations 
  	   ================================ */
      </style>
      
      
  </div>
  {% endfor %}


  <div class="LuminSlideshow-progress-container">
    <div class="LuminSlideshow-progress"></div>
  </div>
  
  </div>

 </div>
  <div class="LuminSlideshow-arrows">
    <button class="LuminSlideshow-prev flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button>
  <button class="LuminSlideshow-next flickity-button flickity-prev-next-button next" type="button" aria-label="Next"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button>
  </div>



{% comment %}Overall Styles{% endcomment %}

<style>
  .pv-container{overflow:hidden}.pv-container .pv-block{will-change:transform;background-repeat:no-repeat;background-position:50%;background-size:cover}.pv-container .pv-block video{position:absolute;top:0;left:0;height:100%;width:100%;object-fit:cover}.pv-container .audio-icon{height:30px;width:30px;position:absolute;top:10px;left:10px}.pv-container .audio-icon span{display:block;width:8px;height:8px;background:#fff;margin:11px 0 0 2px}.pv-container .audio-icon span:after{content:"";position:absolute;width:0;height:0;border-color:transparent #fff transparent transparent;border-style:solid;border-width:10px 14px 10px 15px;left:-13px;top:5px}.pv-container .audio-icon span:before{transform:rotate(45deg);border-radius:0 50px 0 0;content:"";position:absolute;width:13px;height:13px;border-color:#fff;border-style:double;border-width:7px 7px 0 0;left:18px;top:9px;transition:all .2s ease-out}.pv-container .audio-icon:hover span:before{transform:scale(.8) translate(-3px) rotate(42deg)}.pv-container .audio-icon.mute span:before{transform:scale(.5) translate(-15px) rotate(36deg);opacity:0}

  
    .LuminSlideshow-container--loaded *{
  	opacity: 1;
  }
  
  .Lumin-slideshow-section{
  	position: relative;
  }
  
  

  
  .LuminSlideshow-container{
    max-width: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  

  
  .LuminSlideshow-container{
        position: relative;
        display: block;
  }
  
  
  @media (min-width: 750px){
        {% if natural_height %}
    [data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-textbox-container--parent,
        [data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container,
    [data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-container,
    [data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-parallax{
       height: 0 !important; 


    	padding-bottom: calc(100% / {{ natural_height_ratio }}); 
/*     transition: padding .5s ease; */

  }

    .LuminSlideshow-cell{
    	height: 100%;
    }
    
	[data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-parallax{
             height: 0 !important; 
     	padding-bottom: calc(100% / {{ natural_height_ratio  }}); 
    }

    
    .LuminSlideshow-textbox-container--child {
    display: table;
    width: 100%;
    height: 100%;
    /* padding-bottom: calc(100% / 1.499267935578331); */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
  
  {% else %}
  
  
  [data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-parallax,
  [data-Lumin-slideshow-section-id="{{ section.id }}"] .flickity-viewport,
      [data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container,
  	  [data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-cell,
    [data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-image,
    [data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-textbox-container--parent{

          height: {{ section_height }} !important;
      max-height: {{ section_height }} !important;


  
  }
   {% endif %}
  }
  
    
  @media (max-width: 749px){
  {% if natural_height_mobile %}
    
    	

    [data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container,
    [data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-container,
    [data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-parallax{
       	height: 0 !important; 


   	padding-bottom: calc(100% / {{ natural_height_ratio_mobile  }}); 

  	}

    
    .LuminSlideshow-cell{
    	height: 100%;
    }
  
  
  
  {% else %}
   [data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-parallax--mobile,
  [data-Lumin-slideshow-section-id="{{ section.id }}"] .flickity-viewport,
    [data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container,
  	[data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-cell,
    [data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-image,
    [data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-textbox-container--parent{
        height: {{ section_height_mobile }} !important;
      	max-height: {{ section_height_mobile }};
  	}

    {% endif %}
  }

  /* Pre-loader
  ============================= */
  
[data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container--loading:before{
    left: 0;
    right: 0;
    content: '';
    top: 0;
    bottom: 0;
    background: {{ loader_background_color }};
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
  }


  .LuminSlideshow-container--loading:after{
    opacity: 0;
    animation: preloading .5s ease .3s infinite;
    animation-delay: 1s;
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background: white;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -50px;
    z-index: 2;
  }
  
  {% if request.design_mode %}
    .LuminSlideshow-container--loading:after{
      	
      content: "";
      
    opacity: 1;
    animation: unset;

    position: absolute;
    width: auto;
    height: auto;
    background: black;
    left: 50%;
    top: 50%;
      font-size: 14px;
      color: white;
    z-index: 2;
      
          transform: translate(-50%, -50%);
  }
  {% endif %}
  

  


  .LuminSlideshow-container--loaded:after,
  .LuminSlideshow-container--loaded:before{
    opacity: 0 !important;
    transition: all .3s ease;
    z-index: 0;
    pointer-events: none;
    display: none;
  }
 
  
  /* Cell
  ============================= */
  

  .LuminSlideshow-cell{
    width: 100%;
    position: relative;
    display: table;
  }
    
  .LuminSlideshow-cell:not(.is-selected) .lazyload{
  	display: none;
  }
  
  .LuminSlideshow-cell:nth-child(1) .lazyload, 
  .LuminSlideshow-cell.is-selected + .LuminSlideshow-cell .lazyload{
  	display: block;
  }

  .flickity-viewport {
    overflow: hidden;
    position: relative;
/*     transition: height .6s; */
    height: 100%;
  }
  
  .LuminSlideshow-image-wrapper{
    position: relative;

    width: 100%;
    height: 100%;
}

  .LuminSlideshow-image{
    object-fit: cover;
    width: 100%;
    
    {% if parallax != false and adaptive_height != true %}
    height: 100%;
    {% endif %}

  }


      {% if zoom_animation == true %}
  [id*="{{ section.id }}"] .LuminSlideshow-container--loaded .LuminSlideshow-cell:nth-child(1) img.LuminSlideshow--lazy-entered,
  [id*='{{ section.id }}'] .LuminSlideshow-container--loaded .LuminSlideshow-cell:nth-child(1) .Parallax-animation{
    animation: zoom-fade 2.3s cubic-bezier(.26,.54,.32,1) 0s forwards;
/*     	  animation-delay: .5s; */
}

    {% endif %}
  
  @media only screen and (min-width: 750px){
    .LuminSlideshow-image--desktop,
    .LuminSlideshow-parallax--desktop{
    	display: block;
    }
    .LuminSlideshow-image--mobile,
    .LuminSlideshow-parallax--mobile{
    	display: none;
    }
  }
  
  @media only screen and (max-width: 749px){
    .LuminSlideshow-image--desktop,
    .LuminSlideshow-parallax--desktop{
    	display: none;
    }
    .LuminSlideshow-image--mobile,
    .LuminSlideshow-parallax--mobile{
    	display: block;
    }
  }

  .LuminSlideshow-image--dummy {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    
    fill: #999;
    background-color: #e1e1e1;
    width: 100%;

  }

  .LuminSlideshow ol li{
    list-style-type: none;
  }
  
  
  
  /* Parallax 
  ============================= */
  


  
  .LuminSlideshow-parallax{
/*     background-attachment: fixed; */
/*     transform-style: preserve-3d;  */
       transform: translate3D(0, 0px, 0) scale({{ parallax_zoom }});
  }
  
  @media (max-width: 749px){
    .LuminSlideshow-parallax{
       transform: translate3D(0, 0px, 0) scale({{ parallax_zoom_mobile }});
  }
  }
  
/*     [data-enable-parallax="true"] + div .LuminSlideshow-cell.is-selected .LuminSlideshow-parallax{
    background-attachment: fixed;
  }
   */
  
    .LuminSlideshow-parallax{
  background-repeat: no-repeat;
  background-size: cover;
    min-height: 100%;
  }
 
  
  .LuminSlideshow-parallax > img{
/*   	display: none; */
  }
  
    @media (max-width: 749px){
    .Lumin-slideshow-section--loaded .LuminSlideshow-parallax--desktop{
  	display: none !important;
  }
  }
  
        @media (min-width: 750px){
    .Lumin-slideshow-section--loaded .LuminSlideshow-parallax--mobile{
  	display: none !important;
  }
  }


  
  /* Text
  ============================= */
  
  .LuminSlideshow-textbox-container--parent{
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  
  }
  
   .LuminSlideshow-textbox-container--child{
    
   	display: table;
    width: 100%;
	height: 100%;
  
  }
    
  .LuminSlideshow-textbox{
/* 	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 15px 0;
    z-index: 4;
    max-width: 1500px;
    width: 100%;
    height: 100%;
    padding: 0 17px;
  }
  
  .LuminSlideshow-textbox *{
  text-transform: unset !important;
    letter-spacing: normal !important;
  }
  
  @media only screen and (min-width: 750px){
       .LuminSlideshow-textbox{
          padding: 0 40px;
    }
  }
  
  
  .LuminSlideshow-textbox *{
  	/*color: white;*/
  }
  
  .LuminSlideshow-top-text-container,
  .LuminSlideshow-title-container,
  .LuminSlideshow-subtitle-container{
  	overflow: hidden;
  }
  
  .LuminSlideshow-top-text,
  .LuminSlideshow-title,
  .LuminSlideshow-subtitle{
    text-align: center;
    margin: 0;
    opacity: 0;
    transform: translateY(0);
    line-height: 1;
    padding-bottom: 10px;
  }
  
  .LuminSlideshow-title{
      font-weight: 500;
  }
  
  .LuminSlideshow-top-text,
  .LuminSlideshow-subtitle{
  	font-weight: 300;
  }
  
  .LuminSlideshow-top-text-container,
  .LuminSlideshow-subtitle-container{
  	margin-top: 10px;
  }
  
  .LuminSlideshow-top-text{
  	padding-bottom: 0;
  }

  
  
  /* Image animation 
  ================================ */

 
  
  {% comment %} ## Text Animations {% endcomment %}


  [data-Lumin-slideshow-section-id='{{ section.id }}'][data-text-animation='true']  + .LuminSlideshow-container--loaded  .LuminSlideshow-cell.is-selected .LuminSlideshow-title{
      animation: .8s cubic-bezier(.26,.54,.32,1) .3s forwards;
    animation-name: rise-up;
  }
  
  [data-Lumin-slideshow-section-id='{{ section.id }}'][data-text-animation='true']  + .LuminSlideshow-container--loaded  .LuminSlideshow-cell.is-selected .LuminSlideshow-top-text,
  [data-Lumin-slideshow-section-id='{{ section.id }}'][data-text-animation='true']  + .LuminSlideshow-container--loaded  .LuminSlideshow-cell.is-selected .LuminSlideshow-subtitle{
        animation: 1s cubic-bezier(.26,.54,.32,1) .7s forwards;
    animation-name: rise-up;
  }
  
    [data-Lumin-slideshow-section-id='{{ section.id }}'][data-text-animation='true']  + .LuminSlideshow-container--loaded  .LuminSlideshow-cell.is-selected .LuminSlideshow-button--1{
    animation: fade-in 2s ease 1.3s forwards;
  }
    [data-Lumin-slideshow-section-id='{{ section.id }}'][data-text-animation='true']  + .LuminSlideshow-container--loaded .LuminSlideshow-cell.is-selected .LuminSlideshow-button--2{
     animation: fade-in 2s ease 1.6s forwards;
  }
  

  [data-Lumin-slideshow-section-id='{{ section.id }}'][data-text-animation='false']  + .LuminSlideshow-container--loaded .LuminSlideshow-cell.is-selected .LuminSlideshow-title,
  [data-Lumin-slideshow-section-id='{{ section.id }}'][data-text-animation='false']  + .LuminSlideshow-container--loaded .LuminSlideshow-cell.is-selected .LuminSlideshow-subtitle,
  [data-Lumin-slideshow-section-id='{{ section.id }}'][data-text-animation='false']  + .LuminSlideshow-container--loaded .LuminSlideshow-cell.is-selected .LuminSlideshow-top-text,
  [data-Lumin-slideshow-section-id='{{ section.id }}'][data-text-animation='false']  + .LuminSlideshow-container--loaded .LuminSlideshow-cell.is-selected .LuminSlideshow-button{
  	opacity: 1;
    animation: unset;
  }
  

  
  
  .LuminSlideshow-container:focus,
  .LuminSlideshow-container *:focus{
    outline: unset !important;
    box-shadow: unset !important;
  }

  .LuminSlideshow-container .simpleParallax{
/*       overflow: unset !important; */
  }
  
  
  {% comment %} ## Buttons {% endcomment %}
  
  .LuminSlideshow-button{
  	opacity: 0;
    transition: none;
  }
  
  .LuminSlideshow-button:hover{
      color: unset;
  }
  
  .LuminSlideshow-button--1 + .LuminSlideshow-button--2{
      margin-left: 15px;
  }

  
  
  
  .LuminSlideshow-button{
    display: block;
    line-height: 1.42;
    text-decoration: none;
    text-align: center;
    white-space: normal;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 11px 20px;
    width: auto;
    min-width: 90px;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0px;
    
    letter-spacing: 3px;
    font-size: 13px;
    margin-top: 10px;
    color: #fff;
    background: transparent;
    border: 2px solid white;
    
    -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
  }
  
          
    
.LuminSlideshow-textbox[class*='left'] .LuminSlideshow-button{
    width: auto;
    margin: auto auto;
    margin-top: 10px;
}

.LuminSlideshow-textbox[class*='left'] .LuminSlideshow-button:nth-child(1){
    margin-top: 10px;
}

.LuminSlideshow-textbox[class*='left'] .LuminSlideshow-button:nth-child(2){
    margin-top: 10px;
  margin-left: 15px;
}

  
.LuminSlideshow-clickable{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    right: 0;
    top: 0;
    bottom: 0;
  display: block !important;
}
  
  .LuminSlideshow-arrows > button{
      -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
  }

  @media (max-width: 768px){
      .LuminSlideshow-button{
          padding: 9px 17px;
      }
    

  }
  
  @media (max-width: 370px){
/*     .LuminSlideshow-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .LuminSlideshow-button{
            width: auto;
            display: block;
            margin-left: 0 !important;
        } */

    }

  {% comment %} ## User Customization {% endcomment %}
  

  {% if fade %}
  
  /* flickity-fade */

  [id*='{{ section.id }}'] .flickity-enabled.is-fade .flickity-slider > * {
/*   pointer-events: none; */
  z-index: 0;
}

[id*='{{ section.id }}']  .flickity-enabled.is-fade .flickity-slider > .LuminSlideshow-cell.is-selected {
  pointer-events: auto;
  z-index: 1;
} 
  
  [id*='{{ section.id }}']  .LuminSlideshow-container .flickity-slider {
    transform: none !important;
  }


  [id*='{{ section.id }}']  .LuminSlideshow-cell {
    left: 0 !important;
    opacity: 0;
    transition: transform .7s ease,opacity .2s ease;
    z-index: -1;

  }

  [id*='{{ section.id }}']  .LuminSlideshow-cell.is-selected {
    opacity: 1;
    z-index: 0;
  }
  
  [id*='{{ section.id }}']  .LuminSlideshow-cell {
      opacity: 0 !important;
      transition: opacity 1s ease !important;
    }
  
    .LuminSlideshow-cell.is-selected {
      opacity: 1 !important;
    }

  /* This adds a subtle movement for the image */
  [id*='{{ section.id }}']  .LuminSlideshow-cell:not(.is-selected){
/* 	    transform: translateX(10%) !important;   */
  }

  {% endif %}


  {% comment %} ## Alignments {% endcomment %}
  
  .LuminSlideshow-textbox-container--alignment{
  	display: table;
    position: relative;
  }
  
  .LuminSlideshow-textbox[class$='bottom-center'] .LuminSlideshow-textbox-container--alignment,
  .LuminSlideshow-textbox[class$='--center'] .LuminSlideshow-textbox-container--alignment{
  	margin: 0 auto;
  }
  
  .LuminSlideshow-textbox[class*='right'] .LuminSlideshow-textbox-container--alignment{
  	margin: 0 0 0 auto;
  }
  
  .LuminSlideshow-textbox--center-left *{
      text-align: left;
  }

  .LuminSlideshow-textbox--center *{
      text-align: center;
  }

  .LuminSlideshow-textbox--center-right *{
      text-align: right;
  }
  
  [class*='LuminSlideshow-textbox--bottom']{
    	padding-bottom: 50px;
    padding-top: 40px;
       vertical-align: bottom;
  }
  
  .LuminSlideshow-textbox--bottom-right *{
     text-align: right;
  }
  
  .LuminSlideshow-textbox--bottom-center *{
     text-align: center;
  }
  
  .LuminSlideshow-textbox--bottom-left *{
     text-align: left;
  }
  
  {% comment %} ## Buttons {% endcomment %}
  
  
  [data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-button{
    letter-spacing: {{ button_letter_spacing }}px !important;
  border-radius: {{ button_border_radius }}px !important;
  }
  
  @media (max-width: 749px){
    [data-Lumin-slideshow-section-id="{{ section.id }}"] .LuminSlideshow-button{
    letter-spacing: {{ button_letter_spacing_mobile }}px !important;
    border-radius: {{ button_border_radius_mobile }}px !important;
  }
  }
    
  {% comment %} ## Dots {% endcomment %}
  
  .Lumin-slideshow-section .flickity-page-dots{
	z-index: 1;
  }
  
  
   .LuminSlideshow-container[data-dots-style='dots'] .flickity-page-dots{
      bottom: 20px;
  }
  
  .LuminSlideshow-container[data-dots-style='dots'] .LuminSlideshow-textbox-container--child{
    padding-bottom: 20px;
  }


[data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container[data-dots-style='dots'] .flickity-page-dots .dot.is-selected{
      opacity: 1;
      background-color: white;
      width: {{ dot_size_selected }}px;
      height: {{ dot_size_selected }}px;
  }


[data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container[data-dots-style='dots'] .flickity-page-dots .dot {
      display: inline-block;
      vertical-align: middle;
      width: {{ dot_size }}px;
      height: {{ dot_size }}px;
      margin: 0 5px;
      border-radius: 100%;
      cursor: pointer;
      background-color: {{ dots_color }};
      opacity: 0.4;
  }

  [data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container[data-dots-style='dots'] .LuminSlideshow-textbox[class*='--bottom']{
  	padding-bottom: 60px;
  }
  
  [data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container[data-dots-style='bars']  .flickity-page-dots{
  	bottom: 0;
    line-height: 0px;
  }
  
  [data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container[data-dots-style='bars'] .flickity-page-dots .dot{
      position: relative;
      border-radius: 0;
      width: 120px;
      height: 6px;
      border: 0;
      vertical-align: top;
      background: 0 0;
      overflow: hidden;
      opacity: 1;
   } 
  
   [data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container[data-dots-style='bars'] .flickity-page-dots .dot:not(.is-selected){
      opacity: .4;
   } 
  
   	[data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container[data-dots-style='bars'] .flickity-page-dots .dot:before,
  	[data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container[data-dots-style='bars'] .flickity-page-dots .dot:after{
      content: "";
      display: block;
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: {{ dots_color }};
	}
  
  [data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container[data-dots-style='bars'] .flickity-page-dots .dot:before{
  	opacity: .4;
  }
    

[data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container[data-dots-style='bars'] .flickity-page-dots .dot.is-selected:after { 
  	  animation: slideRight 0s linear forwards;
      transform: translate3d(-100%, 0, 0);
      transition: none;
      animation-duration: {{ autoplay_speed }}s;
      opacity: 1;
	}


  @media (max-width:749px){
 [data-Lumin-slideshow-section-id="{{ section.id }}"].LuminSlideshow-container[data-dots-style='bars'] .flickity-page-dots .dot{
   width: 45px;
  } 
}
  
  {% comment %} ## Arrows {% endcomment %}
  
  .LuminSlideshow-arrows{
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 30px;
    position: absolute;
    bottom: 0;
    padding-right: 0px;
    z-index: 9;
	opacity: 0;
    pointer-events: none;
  }
  
  {% if request.design_mode %}
    .LuminSlideshow-arrows{
/*    opacity: 1; */
  }
{% endif %}
  
  .LuminSlideshow-arrows *{
  	pointer-events: auto;
  }
  
  .LuminSlideshow-next{
  	margin-right: 30px;
  }
    .LuminSlideshow-prev{
  	margin-left: 30px;
  }

  .LuminSlideshow-arrows button{
    {% if arrow_background_color != 'rgba(0,0,0,0)' %}
      box-shadow: rgb(0 0 0 / 10%) 0px 5px 5px;
    {% endif %}
    background: {{ arrow_background_color }};
    width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
  }
  
  .LuminSlideshow-prev{
  left: 0;
  }
  
  .LuminSlideshow-arrows button svg{
    width: {{ arrow_chevron_size }}px !important;
      height: {{ arrow_chevron_size }}px !important;
      left: 50% !important;
      top: 50% !important;
      transform: translate(-50%, -50%) !important;
    	fill: {{ arrow_chevron_color }} !important;
  }
  
  @media (max-width: 767px){
    .LuminSlideshow-arrows button{
    width: {{ arrow_size_mobile }}px;
      height: {{ arrow_size_mobile }}px;
  }
    
      .LuminSlideshow-arrows button svg{
    width: {{ arrow_chevron_size_mobile }}px !important;
      height: {{ arrow_chevron_size_mobile }}px !important;
  }
  }
  
     .LuminSlideshow-arrows button:hover,
   .LuminSlideshow-arrows button:focus,
  .LuminSlideshow-arrows button:active{
        
    {% if arrow_background_color != 'rgba(0,0,0,0)' %}
      box-shadow: rgb(0 0 0 / 10%) 0px 5px 5px !important;
    {% endif %}
    background: {{ arrow_background_color }};
    opacity: 1;

  }
  
  .LuminSlideshow-container .flickity-button:focus{
  	    {% if arrow_background_color != 'rgba(0,0,0,0)' %}
      box-shadow: rgb(0 0 0 / 10%) 0px 5px 5px !important;
    {% endif %}
  }


  .LuminSlideshow-arrows .LuminSlideshow-prev{
    margin-right: calc({{ arrow_size }}px + 45px) !important;
  }
 

  .Lumin-slideshow-section--loaded .LuminSlideshow-arrows{
    animation: fade-in .8s ease 0s forwards;
    animation-delay: .2s;
  }
  
  

  
    [data-arrows-style-mobile="side"] + .LuminSlideshow-arrows,
  [data-arrows-style="side"] + .LuminSlideshow-arrows{
        top: 50%;
    	transform: translateY(-50%);
/*       pointer-events: none; */
  }
  
  [data-arrows-style-mobile="side"] + .LuminSlideshow-arrows button,    
  [data-arrows-style="side"] + .LuminSlideshow-arrows button{
      pointer-events: auto;
  }
  
  @media (min-width: 768px){
    
    [data-arrows-style="bottom"] + .LuminSlideshow-arrows{
        top: unset !important;
    transform: unset !important;
      bottom: -16px;
      max-width: 180px;
      right: -40px;
    }
    
  [data-arrows-style="bottom"] + .LuminSlideshow-arrows button{
    top: unset !important;
    transform: unset !important;
  }
    
    
    [data-arrows-style="none"] + .LuminSlideshow-arrows{
    	display: none;
    }
    
  }
  
  @media (max-width: 767px){
    [data-arrows-style="bottom"] + .LuminSlideshow-arrows{
/*       display: none; */
    }
    
    [data-arrows-style-mobile="side"] + .LuminSlideshow-arrows{
    	display: block;
    }
    
    [data-arrows-style-mobile="side"] + .LuminSlideshow-arrows{
        top: 50%;
    	transform: translateY(-50%);
        pointer-events: none;
  	}
    
    [data-arrows-style-mobile="none"] + .LuminSlideshow-arrows{
    	display: none;
    }
  
  }


  {% comment %} ## Remove all dots and arrows if only 1 slide {% endcomment %}
  
  
   .Lumin-slideshow-section [data-slides-quantity='1'] + * .flickity-page-dots,   
  .Lumin-slideshow-section [data-slides-quantity='1'] + * + .LuminSlideshow-arrows{
  	display: none !important;
  }

  
  {% comment %} ## Animations {% endcomment %}


  @keyframes preloading{
    0%{   transform-origin:0% 50%; transform:scaleX(0); opacity:0; }
    40%{  transform-origin:0% 50%; transform:scaleX(1); opacity:1; }
    41%{  transform-origin:100% 50%; transform:scaleX(1); opacity:1; }
    to{ transform-origin:100% 50%; transform:scaleX(0); opacity:1; }
  }
  
  
  @keyframes rise-up{
    0%{
      opacity:1;
      transform:translateY(120%);
    }
    to{
      opacity:1;
      transform:translateY(0%);
    }
  }

  @keyframes slideRight{
  0%{ 
    transform:translate3d(-100%, 0, 0); 
    -webkit-transform:translate3d(-100%, 0, 0); 
  }
  to{ 
    transform:translate3d(0, 0, 0); 
    -webkit-transform:translate3d(0, 0, 0); 
  }
}
  
  @keyframes fade-in{
  0%{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
  


    @keyframes zoom-fade{
  0%{
    opacity:0;
    transform:scale(1.3);
  }

  100%{
    opacity:1;
    transform:scale(1);
  }
}
  
/* [class*='Lumin'] .flickity-viewport{
    height: 1013px !important;
}
   */
  
  
</style>




<script  data-Lumin-slideshow-script>var sectionID;

try {
  sectionID = document.currentScript.parentNode.querySelector(`[data-Lumin-slideshow-section-id]`).getAttribute(`data-Lumin-slideshow-section-id`);
} catch (err) {
  sectionID = `{{ section.id }}`.trim();
}


var slideshowID = `LuminSlideshowPro${sectionID}`;
var flickitySlider = `slideshow-${sectionID}`;

window.LuminTempSectionID = sectionID;
window.LuminTempSlideshowID = slideshowID;


window[slideshowID] = window[slideshowID] || {};

window[slideshowID] = (function() {



  const sectionID = window.LuminTempSectionID;
  const slideshowID = window.LuminTempSlideshowID;
  const flickitySlider = window.flickitySlider;

  const $this = document.querySelector(`.LuminSlideshow-container[data-Lumin-slideshow-section-id*='${sectionID}']`);
  const $thisSection = $this.closest(`.Lumin-slideshow-section`);

  

  function loadOptions() {
    return {
      autoplay: _getAttributeOption("data-autoplay"),
      autoplaySpeed: _getAttributeOption("data-autoplay-speed"),
      dotsStyle: _getAttributeOption("data-dots-style"),
      fade: _getAttributeOption("data-enable-fade"),
      adaptiveHeight: _getAttributeOption("data-adaptive-height"),
      fullWidthImages: _getAttributeOption(`data-full-width-images`),
      fullWidthImagesMobile: _getAttributeOption(`data-full-width-images-mobile`),
      enableParallax: _getAttributeOption(`data-enable-parallax`),
      enableParallaxMobile: _getAttributeOption(`data-enable-parallax-mobile`),
      naturalHeightMobile: _getAttributeOption(`data-natural-height-mobile`),
      parallaxZoom: _getAttributeOption(`data-parallax-zoom`),
      parallaxZoomMobile: _getAttributeOption(`data-parallax-zoom-mobile`),
      parallaxSpeed: _getAttributeOption(`data-parallax-speed`),
      parallaxSpeedMobile: _getAttributeOption(`data-parallax-speed-mobile`),
      autoplayStop: _getAttributeOption(`data-autoplay-stop`),

    }
  }

  function loadSliderOptions() {
    return {
      "contain": true,
      "imagesLoaded": true,
      fade: options.fade,
      adaptiveHeight: false,
      cellSelector: '.LuminSlideshow-cell',
      wrapAround: true,
      prevNextButtons: false,
      lazyLoad: true,
      autoPlay: options.autoplay ? parseInt(options.autoplaySpeed * 1000) : false,
      pageDots: options.dotsStyle === 'dots' || options.dotsStyle === 'bars' ? true : false,
      pauseAutoPlayOnHover: false,
      setGallerySize: false,
      friction: 0.8,
      selectedAttraction: 0.04,
      dragThreshold: 7,
    }
  }

  let options = loadOptions();
  let sliderOptions = loadSliderOptions();
  const lazyLoadOptions = {

    'elements_selector': '.LuminSlideshow-image--lazy,.LuminSlideshow-parallax--lazy',
    "class_applied": "LuminSlideshow--lazy-applied",
    "class_loaded": "LuminSlideshow--lazy-loaded",
    "class_loading": "LuminSlideshow--lazy-loading",
    "class_entered": "LuminSlideshow--lazy-entered"
  }

  
  const PARALLAX_SPEED = options.parallaxSpeed / 100;
  const PARALLAX_SPEED_MOBILE = options.parallaxSpeedMobile / 100;
  const PARALLAX_ZOOM = options.parallaxZoom;
  const PARALLAX_ZOOM_MOBILE = options.parallaxZoomMobile;

  


  function _isMobile() {
    return window.matchMedia("(max-width: 767px)").matches;
  }


  function _loadScript(src) {
    return new Promise(function(resolve, reject) {
      var s;
      s = document.createElement("script");
      s.src = src;
      s.onload = resolve;
      s.onerror = reject;
      document.head.appendChild(s);
    });
  }

  function hasFullWidthImage() {
    const $images = document.querySelectorAll(`[data-image-full-width="true"], [data-image-full-width-mobile="true"]`);

    if (!$images) {
      return false;
    }

    return true;
  }


  function _getAttributeOption(dataAttribute) {


    const element = document.querySelector(`.LuminSlideshowOptions[data-Lumin-slideshow-section-id*='${sectionID}']`);


    if (!element) {
      return null;
    }

    const attr = element.getAttribute(dataAttribute);

    if (attr === 'true') {
      return true;
    } else if (attr === 'false') {
      return false
    } else {
      return attr;
    }
  }


  function _extractTextBetween(text, start, end) {
    if (!start || !end) {
      throw new Error(`Please add a "start" and "end" parameter`);
    }

    return text.split(start)[1].split(end)[0];
  }

  function _loadStyle(src) {
    return new Promise(function(resolve, reject) {
      let link = document.createElement("link");
      link.href = src;
      link.rel = "stylesheet";

      link.onload = () => resolve(link);
      link.onerror = () => reject(new Error(`Style load error for ${src}`));

      document.head.append(link);
    });
  }

  function _moveDOMElement(parent, child) {
    document.querySelector(parent).appendChild(document.querySelector(child));
  }



  function _isProductPage() {
    return /product/.test(window.location.href);
  }

  function _sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  function _isCartPage() {
    return /cart/.test(window.location.href);
  }

  function _waitForElement(selector, delay = 50, tries = 250) {
    const element = document.querySelector(selector);

    if (!window[`__${selector}`]) {
      window[`__${selector}`] = 0;
    }

    function _search() {
      return new Promise((resolve) => {
        window[`__${selector}`]++;
        setTimeout(resolve, delay);
      });
    }

    if (element === null) {
      if (window[`__${selector}`] >= tries) {
        window[`__${selector}`] = 0;
        return Promise.reject(null);
      }

      return _search().then(() => _waitForElement(selector));
    } else {
      return Promise.resolve(element);
    }
  }

  function _addStyle(styleString) {

    var $style = document.querySelector(`#slideshow-styles-${slideshowID}`);

    if ($style) {
      $style.textContent = styleString;
      return;
    }

    const style = `<style id="slideshow-styles-${slideshowID}"></style>`
    document.querySelector("body").insertAdjacentHTML("beforeend", style);

    var $style = document.querySelector(`#slideshow-styles-${slideshowID}`);
    $style.textContent = styleString;
  }



      function loadVanillaLazyLoad() {
        return new Promise(async (resolve) => {
          if (window.LazyLoad !== undefined) {
            resolve(true);
            return;
          }
          try {
            await _loadScript('https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.5/dist/lazyload.min.js');
          } catch (err) {
            /* Native lazy loading remains available on image tags */
          }
          resolve(true);
        });
      }

                       function loadLocalFlickity(){
          if (window.Flickity !== undefined) {
            return Promise.resolve(true);
          }
          return _loadScript('https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.pkgd.min.js');
        }

    function loadFlickity() {

        if (window.hasOwnProperty("LuminSlideshowLibrary")) {
            return true;
        }
      
        return new Promise(async (resolve, reject) => {
                           try{
                           
                       await _loadScript(`https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.pkgd.min.js`);    
                           } catch(err){
        	await loadLocalFlickity();
        	if (window.Flickity === undefined) throw err;
        }
            
            _loadStyle(`https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.min.css`);
  			
  			await loadFlickityFade();
            
            window['LuminSlideshowLibrary'] = true;

            resolve(true);

        });
    }
  
    
    function loadFlickityFade(){
      const isLoaded = Flickity.prototype.getFadeDragLimitIndexes;
      if (isLoaded) {
        return Promise.resolve(true);
      }
      return _loadScript('https://unpkg.com/flickity-fade@2.0.0/flickity-fade.js').then(function () {
        return new Promise(function (resolve) {
          var attempts = 0;
          (function waitForFade() {
            if (Flickity.prototype.getFadeDragLimitIndexes) {
              resolve(true);
            } else if (attempts++ >= 40) {
              resolve(true);
            } else {
              setTimeout(waitForFade, 50);
            }
          })();
        });
      }).catch(function () {
        return true;
      });
    }
    /* beautify ignore:end */


  function initSlider() {



    const $id = document.querySelector(`[data-slideshow-section-id='${sectionID}']`);

    if (!$id) {
      return;
    }

    const id = $id.getAttribute(`data-slideshow-section-id`);


    const $slider = document.querySelector(`.LuminSlideshow-container--${id}`); /* `*/


    if (!$slider) {
      return;
    }


    function parallax() {


      const $parent = $slider.closest(".Lumin-slideshow-section");

      var offset = $parent.getBoundingClientRect().top;
      var _scrolled = window.scrollY - (window.scrollY + offset);
      var scrolled = _isMobile() ? _scrolled : _scrolled;

      var parallax = $slider.querySelectorAll(`.LuminSlideshow-cell.is-selected ${_isMobile() ? `.Parallax-parent--mobile` : `.Parallax-parent--desktop`} .LuminSlideshow-parallax`);

      var zoom = _isMobile() ? PARALLAX_ZOOM_MOBILE : PARALLAX_ZOOM;
      var speed = _isMobile() ? PARALLAX_SPEED_MOBILE : PARALLAX_SPEED;


      for (var each of parallax) {
        const $parent = each.closest(`.Parallax-parent`);


        var offsetUpdated = $parent.getBoundingClientRect().top / 2;


        var coords = ((scrolled) * speed) + 'px'
        each.style.transform = `translate3D(0, calc(${coords} + ${offsetUpdated}px), 0) scale(${zoom})`;
      }


    };



    let slider = new Flickity($slider, {
      ...sliderOptions,
      on: {
        ready: async function() {


          const $section = $slider.closest(`.Lumin-slideshow-section`);


          if (window[`LazyLoad--${sectionID}`]) {
            window[`LazyLoad--${sectionID}`].update();
          }

          await _sleep(50);

          if (!_isMobile() && options.enableParallax || _isMobile() && options.enableParallaxMobile) {
            parallax()
          }

          removeLoader();

          if (_isMobile()) {
            setInitialSliderHeightForFullWidth();
          }


        },
        change: async function() {
          if (_isMobile() && options.naturalHeightMobile) {
            setInitialSliderHeightForFullWidth();
          }

          handleFullWidthSlideChange();

          await _sleep(50);

          if (window[`LazyLoad--${sectionID}`]) {
            window[`LazyLoad--${sectionID}`].update();
          }

          if (!options.autoplayStop && slider.player) {
            slider.player.play()
          }

          if (!_isMobile() && options.enableParallax ||
            _isMobile() && options.enableParallaxMobile) {
            parallax()
          }


        },
        pointerUp: async function() {
          await _sleep(50);
          if (window[`LazyLoad--${sectionID}`]) {
            window[`LazyLoad--${sectionID}`].update();
          }
          if (!options.autoplayStop && slider.player) {
            slider.player.play()
          }


        },
        pointerDown: async function() {

          await _sleep(50);
          if (window[`LazyLoad--${sectionID}`]) {
            window[`LazyLoad--${sectionID}`].update();
          }
          if (!options.autoplayStop && slider.player) {
            slider.player.play()
          }


        }
      }
    });


    window[flickitySlider] = slider;


  }

  async function checkIfSelectedImageHasLoaded() {

    return new Promise(async (resolve, reject) => {
      const $image = await _waitForElement(`.LuminSlideshow-container[data-Lumin-slideshow-section-id*='${sectionID}'] .is-selected .LuminSlideshow--lazy-loaded`); 

      if ($image) {
        resolve(true);
      }



    });
  }

  function removeLoader() {
    const $id = document.querySelector(`[data-slideshow-section-id='${sectionID}']`);

    if (!$id) {
      return;
    }

    const id = $id.getAttribute(`data-slideshow-section-id`);

    const $slider = document.querySelector(`.LuminSlideshow-container--${id}`);

    if (!$slider) {
      return;
    }

    const $section = $slider.closest(`.Lumin-slideshow-section`);

    if (!$section) {
      return;
    }

    if ($slider.classList.contains("LuminSlideshow-container--loaded") ||
      $section.classList.contains("Lumin-slideshow-section--loaded")) {
      return;
    }

    $slider.classList.add("LuminSlideshow-container--loaded");
    $section.classList.add("Lumin-slideshow-section--loaded");
  }

  function removeLoaderForCustomizePage($slider) {

    if ($slider.classList.contains("LuminSlideshow-container--loaded")) {
      return;
    }

    $slider.classList.add("LuminSlideshow-container--loaded");
  }


  function lazyloadBackgroundImageForParallax() {



    document.addEventListener('lazybeforeunveil', function(e) {




      if (!options.enableParallax) {
        return;
      }


      let selector = _isMobile() ? 'LuminSlideshow-parallax--mobile' : 'LuminSlideshow-parallax--desktop';

      const $parallax = e.target;


      if (!$parallax.classList.contains(selector)) {
        return;
      }
      const bg = $parallax.getAttribute('data-bg');
      const $parent = $parallax.closest(`.is-selected`);


      if (!$parent) {
        return;
      }

      if (bg) {

        e.target.style.backgroundImage = 'url(' + bg + ')';

        try {
          const offset = 400;
          const width = window.innerWidth + offset;
          const image = bg.replace("1900x", `${width}x`);
          const url = image ? image : bg;

          


        } catch (err) {


        } finally {
          e.target.style.backgroundImage = 'url(' + bg + ')';
        }

      }
    });
  }

  function handleArrows() {
    const $prev = $thisSection.querySelector(`.LuminSlideshow-prev`);
    const $next = $thisSection.querySelector(`.LuminSlideshow-next`);


    if (!$prev || !$next) {
      return;
    }




    $next.addEventListener('click', function() {
      window[flickitySlider].next();
      window[flickitySlider].stopPlayer();

    });

    $prev.addEventListener('click', function() {
      window[flickitySlider].previous();
      window[flickitySlider].stopPlayer();

    });

  }

  function setInitialSliderHeightForFullWidth($slider) {


    $slider = $slider ? $slider : $this;


    let $heights;
    let attribute;

    if (_isMobile()) {
      $heights = $slider.querySelectorAll(`[data-image-aspect-ratio-mobile]`);
      attribute = 'data-image-aspect-ratio-mobile';

    } else {
      $heights = $slider.querySelectorAll(`[data-image-aspect-ratio]`);
      attribute = 'data-image-aspect-ratio';
    }




    if (!$heights) {
      return;
    }

    let heights = [];

    for (var each of $heights) {
      const aspectRatio = each.getAttribute(attribute);
      const height = parseInt(parseInt(window.innerWidth) / Number(aspectRatio));



      if (!Number.isNaN(height)) {
        heights.push(height);

      }

    }


    const sliderHeight = Math.max(...heights);

    $slider.querySelector(`.flickity-viewport`).style.height = `${sliderHeight}px`;
  }




  async function handleFullWidthSlideChange($slider) {


    $slider = $slider ? $slider : $this;

    if (!options.adaptiveHeight) {
      return;
    }


    const $slide = $slider.querySelector(`.LuminSlideshow-cell.is-selected`);

    if (!$slide) {
      return;
    }



    if (!options.fullWidthImages && !_isMobile() ||
      !options.naturalHeightMobile && _isMobile()) {
      return;
    }



    let aspectRatio;

    if (_isMobile()) {
      aspectRatio = Number($slide.querySelector(`[data-image-aspect-ratio-mobile]`).getAttribute("data-image-aspect-ratio-mobile"));
      _addStyle(`

[data-Lumin-slideshow-section-id="${sectionID}"].LuminSlideshow-container,
              [data-Lumin-slideshow-section-id="${sectionID}"] .LuminSlideshow-container, 
              [data-Lumin-slideshow-section-id="${sectionID}"] .LuminSlideshow-parallax{
padding-bottom: calc(100% / ${aspectRatio}) !important;
}
`);

      const height = parseInt(window.innerWidth) / Number(aspectRatio);


      const $text = $slide.querySelector(`.LuminSlideshow-textbox-container--parent`);

      if ($text) {
        $text.setAttribute("style", `height:${height}px;`);
      }



    } else {
      aspectRatio = Number($slide.querySelector(`[data-image-aspect-ratio]`).getAttribute("data-image-aspect-ratio"));

      _addStyle(`
[data-Lumin-slideshow-section-id="${sectionID}"] .LuminSlideshow-textbox-container--parent,
[data-Lumin-slideshow-section-id="${sectionID}"].LuminSlideshow-container,
              [data-Lumin-slideshow-section-id="${sectionID}"] .LuminSlideshow-container, 
              [data-Lumin-slideshow-section-id="${sectionID}"] .LuminSlideshow-parallax{
padding-bottom: calc(100% / ${aspectRatio}) !important;
}
`);
    }


  }

  function throttle(fn, wait) {
    var time = Date.now();
    return function() {
      if ((time + wait - Date.now()) < 0) {
        fn();
        time = Date.now();
      }
    }
  };


  function checkIfParallax($slider) {




    $slider = $slider ? $slider : $this;



    function parallax() {

      const $parent = $slider.closest(".Lumin-slideshow-section");

      var offset = $parent.getBoundingClientRect().top;
      var _scrolled = window.scrollY - (window.scrollY + offset);
      var scrolled = _isMobile() ? _scrolled : _scrolled;

      var parallax = $slider.querySelectorAll(`.LuminSlideshow-cell.is-selected ${_isMobile() ? `.Parallax-parent--mobile` : `.Parallax-parent--desktop`} .LuminSlideshow-parallax`);

      var zoom = _isMobile() ? PARALLAX_ZOOM_MOBILE : PARALLAX_ZOOM;
      var speed = _isMobile() ? PARALLAX_SPEED_MOBILE : PARALLAX_SPEED;


      for (var each of parallax) {
        const $parent = each.closest(`.Parallax-parent`);

        var offsetUpdated = $parent.getBoundingClientRect().top / 2;

        var coords = ((scrolled) * speed) + 'px'
        each.style.transform = `translate3D(0, calc(${coords} + ${offsetUpdated}px), 0) scale(${zoom})`;
      }


    };


    document.addEventListener("DOMContentLoaded", throttle(parallax, 14));
    window.addEventListener('scroll', throttle(parallax, 14));


  }




  function initVanillaLazyLoad() {
    if (typeof LazyLoad === 'undefined') {
      return;
    }

    window[`LazyLoad--${sectionID}`] = new LazyLoad({

      'elements_selector': '.is-selected .LuminSlideshow-image--lazy,.is-selected .LuminSlideshow-parallax--lazy',
      "class_applied": "LuminSlideshow--lazy-applied",
      "class_loaded": "LuminSlideshow--lazy-loaded",
      "class_loading": "LuminSlideshow--lazy-loading",
      "class_entered": "LuminSlideshow--lazy-entered",
      "threshold": 50
    });

  }

  function scheduleLoaderFallback() {
    setTimeout(function () {
      removeLoader();
    }, 2500);
  }



  async function start() {
    scheduleLoaderFallback();

    try {
      await loadFlickity();
      await loadVanillaLazyLoad();
      initVanillaLazyLoad();

      checkIfParallax();

      await _sleep(50);

      if (typeof Flickity !== 'undefined') {
        initSlider();
      } else {
        removeLoader();
      }

      lazyloadBackgroundImageForParallax();
      handleArrows();
      setInitialSliderHeightForFullWidth();

      await _sleep(10);

      if (_isMobile()) {
        handleFullWidthSlideChange();
      }
    } catch (err) {
      removeLoader();
    }
  }

  function restart() {

    try {
      start();
      handleFullWidthSlideChange();
    } catch (err) {

    }


  }

  async function updateSlidersAtCustomizePage() {



    var $sliders = document.querySelectorAll(`[class*='LuminSlideshow-container--'][data-Lumin-slideshow-section-id]`);


    for (var each of $sliders) {

      options = loadOptions();
      sliderOptions = loadSliderOptions();

      start()
      await _sleep(100);

      var $slider = new Flickity(each, {
        ...sliderOptions
      });

      setInitialSliderHeightForFullWidth(each);
      handleFullWidthSlideChange(each);
      removeLoaderForCustomizePage(each);
      checkIfParallax(each);

      $slider.resize()




      if (Shopify.designMode) {

        var myLazyLoad = new LazyLoad({

          'elements_selector': '.LuminSlideshow-image--lazy,.LuminSlideshow-parallax--lazy',
          "class_applied": "LuminSlideshow--lazy-applied",
          "class_loaded": "LuminSlideshow--lazy-loaded",
          "class_loading": "LuminSlideshow--lazy-loading",
          "class_entered": "LuminSlideshow--lazy-entered"
        });

        myLazyLoad.loadAll();
      }
    }



  }

  return {
    updateSlidersAtCustomizePage: updateSlidersAtCustomizePage,
    init: async function() {


      if (Shopify.designMode) {

        updateSlidersAtCustomizePage();
      }

      document.addEventListener("DOMContentLoaded", async function() {



        start();


      });


      document.addEventListener("shopify:section:load", async function(e) {

        updateSlidersAtCustomizePage();
      });

      document.addEventListener("shopify:section:unload", async function(e) {

        updateSlidersAtCustomizePage();
      });

      document.addEventListener("shopify:section:reorder", async function() {
        restart()
      });

      document.addEventListener("shopify:section:select", async function(e) {
        updateSlidersAtCustomizePage();
      });


      document.addEventListener("shopify:section:deselect", async function(e) {
        updateSlidersAtCustomizePage();
      });



      window.addEventListener("resize", function() {
        restart();
      });


      window.addEventListener("scroll", function() {

      });
    },
  };
})();


window[slideshowID].init();</script>





{% schema %}
 {
  "name": "Lumin Slideshow Pro",
  "class": "Lumin-slideshow-section",
   "disabled_on": {
  "groups": ["header", "footer", "custom.popup"]
   },
  "settings": [

    {
      "type": "select",
      "id": "section_height",
      "label": "Desktop height",
      "default": "650px",
      "options": [
        {
          "label": "Auto",
          "value": "natural"
        },
        {
          "label": "450px",
          "value": "450px"
        },
        {
          "label": "550px",
          "value": "550px"
        },
        {
          "label": "650px",
          "value": "650px"
        },
        {
          "label": "750px",
          "value": "750px"
        },
        {
          "label": "Full screen",
          "value": "100vh"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_height_mobile",
      "label": "Mobile height",
      "default": "auto",
      "options": [
        {
          "label": "Auto",
          "value": "auto"
        },
        {
          "label": "250px",
          "value": "250px"
        },
        {
          "label": "300px",
          "value": "300px"
        },
        {
          "label": "400px",
          "value": "400px"
        },
        {
          "label": "500px",
          "value": "500px"
        },
        {
          "label": "Full screen",
          "value": "100vh"
        }
      ]
    },

    {
      "type": "checkbox",
      "id": "full_width_images",
      "label": "Full width images",
	  "info": "Images that won't cut off. This will overwrite the \"Desktop height\". Recommended size: 2880 x 1620px",
      "default": false
    },

    {
      "type": "checkbox",
      "id": "full_width_images_mobile",
      "label": "Full width images (mobile)",
	  "info": "Images that won't cut off. This will overwrite the \"Mobile height\". Recommended size: 900 x 900px",
      "default": false
    },

    {
      "type": "checkbox",
      "id": "parallax",
      "label": "Enable parallax",
      "info": "Parallax may zoom in some images, making them look \"cut off\".", 
      "default": false
    },
    {
      "type": "checkbox",
      "id": "parallax_mobile",
      "label": "Enable parallax (mobile)",
      "info": "Parallax may zoom in some images, making them look \"cut off\".", 
      "default": false
    },

    {
      "type": "select",
      "id": "dots_style",
      "label": "Slide navigation style",
	  "info": "For \"bars\" please ensure you have a maximum of 5 slides.",
      "default": "bars",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "bars",
          "label": "Bars"
        },
        {
          "value": "dots",
          "label": "Dots"
        }
      ]
    },
    {
      "type": "select",
      "id": "arrows_style",
      "label": "Arrows style (desktop)",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "bottom",
          "label": "Bottom right"
        },
        {
          "value": "side",
          "label": "Left and right"
        }
      ]
    },
    {
      "type": "select",
      "id": "arrows_style_mobile",
      "label": "Arrows style (mobile)",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "side",
          "label": "Left and right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "info": "Changes the slides every X seconds. Once the user manually swipes the slide, the autoplay stops."
    },
    {
      "type": "checkbox",
      "id": "autoplay_stop",
      "label": "Stop autoplay after use interaction?",
	  "default": true
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "Change images every:",
      "default": 5,
      "min": 1,
      "max": 25,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "loader_background_color",
      "label": "Loader background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "dots_color",
      "label": "Dot & Bars color",
      "default": "#ffffff"
    },
    {
        "type": "color",
        "id": "arrow_background_color",
        "label": "Arrow background",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "arrow_chevron_color",
        "label": "Arrow chevron",
        "default": "#333333"
    },
    {
      "type": "header",
      "content": "Sizes"
    },
    {
      "type": "range",
      "id": "dot_size",
      "label": "Dot size",
      "min": 3,
      "max": 20,
      "step": 1,
      "unit": "px",
      "default": 6
    },
    {
      "type": "range",
      "id": "dot_size_selected",
      "label": "Dot size (selected)",
      "min": 3,
      "max": 20,
      "step": 1,
      "unit": "px",
      "default": 9
    },
  {
    "type": "range",
    "id": "arrow_size",
    "label": "Arrow size (desktop)",
    "min": 30,
    "max": 120,
    "step": 1,
    "unit": "px",
    "default": 40
  },
  {
    "type": "range",
    "id": "arrow_size_mobile",
    "label": "Arrow size (mobile)",
    "min": 30,
    "max": 120,
    "step": 1,
    "unit": "px",
    "default": 40
  },
  {
    "type": "range",
    "id": "arrow_chevron_size",
    "label": "Arrow chevron size (desktop)",
    "min": 6,
    "max": 40,
    "step": 1,
    "unit": "px",
    "default": 12
  },

  {
    "type": "range",
    "id": "arrow_chevron_size_mobile",
    "label": "Arrow chevron size (mobile)",
    "min": 6,
    "max": 40,
    "step": 1,
    "unit": "px",
    "default": 12
  },
   {
      "type": "paragraph",
      "content": "Buttons"
    },

		{
          "type": "range",
          "id": "button_letter_spacing",
          "label": "Button letter spacing (desktop)",
          "min": 0,
          "max": 10,
          "step": 0.2,
          "unit": "px",
          "default": 0
        },
		{
          "type": "range",
          "id": "button_letter_spacing_mobile",
          "label": "Button letter spacing (mobile)",
          "min": 0,
          "max": 10,
          "step": 0.2,
          "unit": "px",
          "default": 0
        },
		{
          "type": "range",
          "id": "button_border_radius",
          "label": "Button roundedness (desktop)",
          "min": 0,
          "max": 99,
          "step": 1,
          "unit": "px",
          "default": 0
        },
			{
          "type": "range",
          "id": "button_border_radius_mobile",
          "label": "Button roundedness (mobile)",
          "min": 0,
          "max": 99,
          "step": 1,
          "unit": "px",
          "default": 0
        },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "checkbox",
      "id": "text_animation",
      "label": "Enable text animation",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "fade",
      "label": "Fade",
	  "info": "Fades when changing between slides.",
      "default": true
    },
  {
    "type": "checkbox",
    "id": "zoom_animation",
    "label": "Enable zoom animation",
    "info": "Zoom out animation on the first image when loading the page.",
    "default": true
  },
 		{
          "type": "header",
          "content": "Advanced Settings"
        },
{
          "type": "paragraph",
          "content": "Please proceed with caution. Values that are too low or too high will make the image go off screen. The higher the speed, the more noticeable the Parallax is."
        },
  {
    "type": "range",
    "id": "parallax_speed",
    "label": "Parallax speed (desktop)",
    "min": 50,
    "max": 99,
    "step": 1,
    "unit": "%",
    "info": "Default: 80",
    "default": 80
  },
  {
    "type": "range",
    "id": "parallax_speed_mobile",
    "label": "Parallax speed (mobile)",
    "min": 50,
    "max": 99,
    "step": 1,
    "unit": "%",
    "info": "Proceed with caution. Values that are too low or too high will make the image go off screen. Default: 70",
    "default": 70
  }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
   {
      "type": "paragraph",
      "content": "This section shows up only on desktop devices."
    },
        {
          "type": "header",
          "content": "Images"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image (desktop)"
        },
        {
          "type": "select",
          "id": "focal_point",
          "label": "Image focal point (desktop)",
          "info": "Used to keep the subject of your photo in view.",
          "default": "center center",
          "options": [
            {
              "value": "20% 0",
              "label": "Top left"
            },
            {
              "value": "top center",
              "label": "Top center"
            },
            {
              "value": "80% 0",
              "label": "Top right"
            },
            {
              "value": "20% 50%",
              "label": "Left"
            },
            {
              "value": "center center",
              "label": "Center"
            },
            {
              "value": "80% 50%",
              "label": "Right"
            },
            {
              "value": "20% 100%",
              "label": "Bottom left"
            },
            {
              "value": "bottom center",
              "label": "Bottom center"
            },
            {
              "value": "80% 100%",
              "label": "Bottom right"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (mobile)",
		  "info": "Optional image to use on mobile devices."
        },
        {
          "type": "select",
          "id": "focal_point_mobile",
          "label": "Image focal point (mobile)",
          "info": "Used to keep the subject of your photo in view.",
          "default": "center center",
          "options": [
            {
              "value": "20% 0",
              "label": "Top left"
            },
            {
              "value": "top center",
              "label": "Top center"
            },
            {
              "value": "80% 0",
              "label": "Top right"
            },
            {
              "value": "20% 50%",
              "label": "Left"
            },
            {
              "value": "center center",
              "label": "Center"
            },
            {
              "value": "80% 50%",
              "label": "Right"
            },
            {
              "value": "20% 100%",
              "label": "Bottom left"
            },
            {
              "value": "bottom center",
              "label": "Bottom center"
            },
            {
              "value": "80% 100%",
              "label": "Bottom right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Title"
        },
 
        {
          "type": "textarea",
          "id": "title",
          "label": "Heading",
          "default": "Two line\ntitle slide."
        },
        {
          "type": "header",
          "content": "Subtitle"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "An optional subtitle"
        },
        {
          "type": "header",
          "content": "Buttons"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Clickable image",
          "info": "If you'd like to make the image clickable, please add a link here. This link will replace all buttons' links."
        },

  {
    "type": "checkbox",
    "id": "clickable_image_new_tab",
    "label": "Open clickable image in new tab",

    "default": false
  },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "button_text_2",
          "label": "Button 2 text"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Button 2 link"
        },
        {
          "type": "header",
          "content": "Sizes"
        },
        {
          "type": "range",
          "id": "title_font_size",
          "label": "Title size in pixels (desktop)",
          "min": 10,
          "max": 100,
          "default": 80,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "title_font_size_mobile",
          "label": "Title size in pixels (mobile)",
          "min": 10,
          "max": 100,
          "default": 40,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "subtitle_font_size",
          "label": "Subtitle size in pixels (desktop)",
          "min": 10,
          "max": 100,
          "default": 21,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "subtitle_font_size_mobile",
          "label": "Subtitle size in pixels (mobile)",
          "min": 10,
          "max": 100,
          "default": 17,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "paragraph",
          "content": "Buttons"
        },
        {
          "type": "range",
          "id": "button_text_size",
          "label": "Button text size (desktop)",
          "min": 8,
          "max": 40,
          "step": 1,
          "unit": "px",
          "default": 13
        },
        {
          "type": "range",
          "id": "button_text_size_mobile",
          "label": "Button text size (mobile)",
          "min": 8,
          "max": 40,
          "step": 1,
          "unit": "px",
          "default": 13
        },
        {
          "type": "header",
          "content": "Shadows"
        },
        {
          "type": "range",
          "id": "text_shadow",
          "label": "Shadow",
          "info": "Adds a subtle shadow behind the text to make it easier to read.",
          "default": 20,
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay",
          "info": "Darkens the image so it's easier to read the text.",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%"
        },

    	{
          "type": "paragraph",
          "content": "Button 1"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Button background color"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button text color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_border_color",
          "label": "Button border color",
          "default": "#ffffff"
        },
		{
          "type": "paragraph",
          "content": "Button 2"
        },
        {
          "type": "color",
          "id": "button_background_color_2",
          "label": "Button 2 background color"
        },
        {
          "type": "color",
          "id": "button_text_color_2",
          "label": "Button 2 text color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_border_color_2",
          "label": "Button 2 border color",
          "default": "#ffffff"
        },
		{
          "type": "paragraph",
          "content": "Other Colors"
        },
		{
          "type": "color",
          "id": "title_color",
          "label": "Title color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "subtitle_color",
          "label": "Subtitle color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "text_shadow_color",
          "label": "Shadow color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Image's overlay color",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "Other options"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "default": "LuminSlideshow-textbox--center",
          "options": [
            {
              "value": "LuminSlideshow-textbox--center-left",
              "label": "Center left"
            },
            {
              "value": "LuminSlideshow-textbox--center",
              "label": "Center"
            },
            {
              "value": "LuminSlideshow-textbox--center-right",
              "label": "Center right"
            },
            {
              "value": "LuminSlideshow-textbox--bottom-left",
              "label": "Bottom left"
            },
            {
              "value": "LuminSlideshow-textbox--bottom-center",
              "label": "Bottom center"
            },
            {
              "value": "LuminSlideshow-textbox--bottom-right",
              "label": "Bottom right"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lumin Slideshow Pro",
      "category": "Lumin Section",
      "settings": {
        "autoplay": true,
        "autoplay_speed": 5
      },
      "blocks": [
      {
        "type": "image"
      }
      ]
    }
  ]
}
{% endschema %}
